.ia_cartWidgetContainer{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

i {
    color:rgb(0, 148, 148);
    padding-right:10px;
    transition:color 1s;
    cursor:pointer;
    font-size:20px;
}

p {
    color:white;
}

i:hover{
    color:rgb(200, 255, 0);
}