
.ia_itemListContainer{
    background-color:rgb(8, 36, 36);
    color:white;
    height:1000vh;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding:20px;
}

h2{
    margin:0;
}