.ia_productCountContainer{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

.ia_productCountContainer button{
    cursor:pointer;
    color:white;
    background-color: rgb(1, 3, 27);
    border:3px solid rgb(1, 3, 27);
    padding:5px;
    border-radius:5%;
}

.ia_counter{
    display:flex;
    justify-content:space-between;
    align-items:center;
}